@use "../_abstracts/mixins" as mixins;
@use "../_abstracts/functions" as functions;

// Reusable grid styles
@mixin page-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2.4rem;

  @include mixins.below(435px) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
  }
}

@mixin grid_test {
  color: red !important;
  background-color: green !important;
}

// Creating grid classes
@for $col from 1 through 12 {
  @for $span from 1 through 12 {
    .col-#{$col}--span-#{$span} {
      grid-column: #{$col} / span #{$span};

      @include mixins.below(435px) {
        grid-column: 1 / 13;
      }
    }
  }
}

// Bento Grid
.bento-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  margin: 0 auto;
}

.grid-item {
  text-align: center;
  min-height: 380px;
}

.item-1 {
  grid-column: 1 / 9;
}

.item-2 {
  grid-column: 9 / 13;
  grid-row: 1 / 3; /* Full height */
}

.item-3 {
  grid-column: 1 / 5;
}

.item-4 {
  grid-column: 5 / 9;
}

@media (max-width: 1080px) {
  .bento-grid {
    grid-template-columns: repeat(8, 1fr);
  }

  .item-1 {
    grid-column: 1 / 9;
  }

  .item-2 {
    grid-column: 1 / 9;
    grid-row: auto; /* Reset for smaller layout */
    order: 4;
  }

  .item-3 {
    grid-column: 1 / 5;
  }

  .item-4 {
    grid-column: 5 / 9;
  }
}

@media (max-width: 720px) {
  .bento-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .grid-item {
    grid-column: 1 / -1;
  }

  .item-2 {
    order: 4;
  }
}
