@use "../_abstracts/" as abstracts;

// Classes for sections
:root {
  --section-small: 8rem;
  --section-medium: 16rem;
  --section-big: 24rem;

  @include abstracts.below(1200px) {
    --section-small: 6.4rem;
    --section-medium: 14rem;
    --section-big: 17rem;
  }

  @include abstracts.below(750px) {
    --section-small: 40px;
    --section-medium: 80px;
    --section-big: 110px;
  }
}

.section--relative {
  position: relative;
}

.section--small--padding {
  padding-top: var(--section-small);
  padding-bottom: var(--section-small);
}
.section--small--margin {
  margin-top: var(--section-small) !important;
  margin-bottom: var(--section-small) !important;
}
.section--medium--padding {
  padding-top: var(--section-medium);
  padding-bottom: var(--section-medium);
}
.section--medium--margin {
  margin-top: var(--section-medium);
  margin-bottom: var(--section-medium);
}
.section--big--padding {
  padding-top: var(--section-big);
  padding-bottom: var(--section-big);
}
.section--big--margin {
  margin-top: var(--section-big);
  margin-bottom: var(--section-big);
}

.section--dark {
  background-color: var(--color-background--dark);
  color: var(--color-text--white);
}

.section--beige {
  background-color: var(--color-background--beige);
}

.section--white {
  background-color: var(--color-background--white);
}

.section--brand {
  background-color: var(--color-background--brand);
}

.section--blue {
  background-color: var(--color-blue);
}
