@use "../../../styles/index.scss" as index;

.title__textWrapper {
  @include index.title-textWrapper;
}

.classCard {
  //   border: 2px solid red;
  border-radius: 24px;
  color: white;
  position: relative;
  min-height: 60vh;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: var(--shadow-large);
  }

  @include index.below(1000px) {
    min-height: 45vh;
  }
}

.card-1 {
  background-color: var(--color-background--brand);
}
.card-2 {
  background-color: var(--color-yellow);
}
.card-3 {
  background-color: var(--color-purple);
}
.card-4 {
  background-color: var(--color-blue);
}

.content {
  text-align: left;
  height: 100%;
  padding: 40px;

  h3 {
    font-family: "Pally", sans-serif !important;
  }

  & p {
    max-width: 50ch;
    width: 90%;
  }

  @include index.below(700px) {
    padding: 28px;
  }
}

.alertIcon {
  position: absolute;
  top: -3%;
  right: -6%;
  width: max-content;
  height: 110px;
  z-index: 2;
}

.illustration {
  margin-left: auto;
  width: auto;
  height: 70%;
  position: absolute;
  bottom: 0;
  right: 0;

  @include index.below(700px) {
    height: 60% !important;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card-2 .illustration,
.card-3 .illustration {
  bottom: -20%;
}

.card-4 .illustration {
  height: 85%;
}

.buttonWrapper {
  position: absolute;
  z-index: 2;
  bottom: 40px;
  left: 40px;

  @include index.below(700px) {
    bottom: 20px;
    left: 20px;
  }
}
