@use "../../../styles/index.scss" as index;

.courses {
  &__textWrapper {
    margin-bottom: 64px;
  }
}

.title__textWrapper {
  @include index.title-textWrapper;
}

// Parent Div
.bentoWrapper {
  position: relative;
}

// Child Div with padding
.contentWrapper {
  position: relative;
  overflow: hidden;
  text-align: left;
  padding: index.fluid-value(435px, 1440px, 24px, 40px);
}

// Text Wrapper
.textWrapper {
  position: relative;
  height: 100%;
  z-index: 10;
  color: white;

  & > p {
    max-width: 35ch;
    margin-bottom: 12px;
  }
}

.buttonWrapper {
  position: absolute;
  bottom: 0;
}

.illustration {
  position: absolute !important;
  z-index: 2;
  width: index.fluid-value(435px, 1440px, 250px, 400px);
  height: index.fluid-value(435px, 1440px, 250px, 400px);
  bottom: 0;
  right: 0;

  // @include index.below(435px) {
  //   width: index.fluid-value(435px, 1440px, 250px, 400px);
  //   height: index.fluid-value(435px, 1440px, 250px, 400px);
  // }
}

.illustrationShader {
  position: absolute;
  width: index.fluid-value(435px, 1440px, 350px, 600px);
  height: index.fluid-value(435px, 1440px, 350px, 600px);
  border-radius: 100%;
  bottom: -28%;
  right: -30%;
  transform-origin: top right;
  background-color: var(--color-taro);
  z-index: 1;
}

.orangeGrid,
.yellowGrid,
.blueGrid,
.bannerGrid {
  border-radius: index.fluid-value(435px, 1440px, 20px, 48px);
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.orangeGrid {
  background-color: var(--color-brand);
  min-height: 520px;

  @include index.below(550px) {
    min-height: 530px;
  }

  & img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.yellowGrid {
  background-color: var(--color-yellow);
}

.blueGrid {
  background-color: var(--color-blue);
}

.bottomAsset {
  position: absolute;
  bottom: -10%;
  right: 0;
}

.alertIcon {
  position: absolute;
  z-index: 2;
  top: -8%;
  right: -8%;
  width: 110px;
  height: 110px;
}

.bannerGrid {
  background-color: var(--color-purple);
  color: white !important;
  cursor: auto;
}
